h3{
    color: royalblue;
    background-color: seashell;
}


body{
    margin: 0;
    padding: 0;
    background: #efefef;
    background-image: url(buku3.JFIF);
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
}

#login-box{
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 500px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.left-box{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

h1{
    color: saddlebrown;
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"]{
    display: inline;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="submit"]{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus{
    background: #ff5722;
    transition: 0.2s ease;
}

.right-box{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 30px;
    width: 150px;
    height: 400px;
    background-image: url(buku1.JPG);
    background-size: cover;
    background-position: center;
}


.f-group{
    flouat: left;
}
.f-group label{
    display: block;
    margin-bottom: 8px;
    font-family: 'roboto';
    font-weight: 500;
}

select{
    border: 1px solid #555;
    height: 40px;
    width: 200px;
    padding: 0 15px;
    margin-rigth: 20px;
}